In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import DB_USERNAME, DB_PASSWORD

In [2]:
df = pd.read_csv("cleaned_credit_card.csv")
df.head()

        ID     0    1    2    3    4    5    X    C
0  5120092  61.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  5120176  61.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  5002165  61.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  5143259  60.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4  5003330  60.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [3]:
df.shape

(45985, 9)

In [4]:
engine = create_engine(f"postgresql://{DB_USERNAME}:{DB_PASSWORD}@localhost:5432/credit_card")

In [5]:
df.to_sql('credit_card', engine)