In [2]:
import pandas as pd

In [36]:
cc = pd.read_csv('resources/credit_record.csv')

In [6]:
cc

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

In [9]:
cc.nunique()

ID                45985
MONTHS_BALANCE       61
STATUS                8
dtype: int64

In [38]:
cc.groupby('ID')

In [81]:
zeroes = cc.loc[cc["STATUS"] == '0', :]
cero = zeroes.value_counts('ID')
zeroes_df = pd.DataFrame(cero)

In [82]:
for x in ['1', '2', '3', '4', '5', 'X', 'C']:
    y = cc.loc[cc["STATUS"] == x, :]
    z = y.value_counts('ID')
    z_df = pd.DataFrame(z)
    zeroes_df = pd.merge(zeroes_df, z_df, on="ID", how='outer')

C:\Users\syeong\AppData\Local\Temp/ipykernel_25100/829034066.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'0_x'} in the result is deprecated and will raise a MergeError in a future version.
  zeroes_df = pd.merge(zeroes_df, z_df, on="ID", how='outer')

In [91]:
zeroes_df = zeroes_df.fillna(0)
zeroes_df

          0_x  0_y  0_x  0_y  0_x  0_y  0_x  0_y
ID
5120092  61.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5120176  61.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5002165  61.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5143259  60.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
5003330  60.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...       ...  ...  ...  ...  ...  ...  ...  ...
5089750   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
5010290   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
5120058   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
5114615   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
5059930   0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[45985 rows x 8 columns]

In [88]:
cc_df = zeroes_df.set_axis(['0', '1', '2', '3', '4', '5', 'X', 'C'], axis=1, inplace=False)

In [90]:
cc_df.to_csv('cleaned_credit_card.csv')