In [1]:
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs

In [14]:
from sklearn.model_selection import train_test_split
cc = pd.read_csv('cleaned_credit_card.csv')
app = pd.read_csv('app_record_ml.csv')

df = pd.merge(cc, app, on='ID')
del df['Unnamed: 0']

X = df.drop(['ID','0', '1', '2', '3', '4', '5', 'X', 'C'], axis=1)
y = df[['0', '1', '2', '3', '4', '5', 'X', 'C']]

zeroes = y['0']
X0_train, X0_test, y0_train, y0_test = train_test_split(X, zeroes)

xs = y['X']
Xx_train, Xx_test, yx_train, yx_test = train_test_split(X, xs)

cs = y['C']
Xc_train, Xc_test, yc_train, yc_test = train_test_split(X, cs)

In [3]:
X

,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,CODE_GENDER_F,...,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff
0,0,157500.0,-20578,365243,1,0,1,0,2.0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,135000.0,-15468,-4834,1,0,0,1,2.0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,157500.0,-14785,-4872,1,0,0,0,3.0,1,...,0,0,1,0,0,0,0,0,0,0
3,0,225000.0,-21450,-13245,1,0,0,0,1.0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,225000.0,-12769,-4114,1,1,1,0,2.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,0,180000.0,-20560,-661,1,0,0,0,2.0,1,...,0,0,0,0,0,0,1,0,0,0
36453,0,225000.0,-22976,365243,1,0,0,0,1.0,1,...,0,0,0,0,0,0,0,0,0,0
36454,1,99000.0,-17876,-5239,1,0,0,0,2.0,0,...,1,0,0,0,0,0,0,0,0,0
36455,0,126000.0,-20387,365243,1,0,0,1,2.0,1,...,0,0,0,0,0,0,0,0,0,0
36456,0,126000.0,-19603,365243,1,0,1,1,1.0,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_scaler.fit(X0_train)

# Scale the data
X0_train_scaled = X_scaler.transform(X0_train)
X0_test_scaled = X_scaler.transform(X0_test)

In [7]:
from sklearn.tree import DecisionTreeClassifier

In [8]:
tree0 = DecisionTreeClassifier(max_depth=500,
                               min_samples_split=2,
                               random_state=10)
tree0.fit(X0_train, y0_train)
print(f"Training Data Score: {tree0.score(X0_train, y0_train)}")
print(f"Testing Data Score: {tree0.score(X0_test, y0_test)}")

Training Data Score: 0.5944700460829493
Testing Data Score: 0.3281404278661547

In [9]:
tree0s = DecisionTreeClassifier(max_depth=500,
                               min_samples_split=2,
                               random_state=10)
tree0s.fit(X0_train_scaled, y0_train)
print(f"Training Data Score: {tree0s.score(X0_train_scaled, y0_train)}")
print(f"Testing Data Score: {tree0s.score(X0_test_scaled, y0_test)}")

Training Data Score: 0.5944700460829493
Testing Data Score: 0.3281404278661547

In [13]:
treex = DecisionTreeClassifier(criterion='entropy', max_depth=500,
                               min_samples_split=4,
                               random_state=10)
treex.fit(Xx_train, yx_train)
print(f"Training Data Score: {treex.score(Xx_train, yx_train)}")
print(f"Testing Data Score: {treex.score(Xx_test, yx_test)}")

Training Data Score: 0.6857947480067296
Testing Data Score: 0.5078442128359847

In [16]:
treec = DecisionTreeClassifier(max_depth=500,
                               min_samples_split=4,
                               random_state=10)
treec.fit(Xc_train, yc_train)
print(f"Training Data Score: {treec.score(Xc_train, yc_train)}")
print(f"Testing Data Score: {treec.score(Xc_test, yc_test)}")

Training Data Score: 0.6265086679833224
Testing Data Score: 0.45814591332967636

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
model = RandomForestClassifier(n_estimators=250,
                              max_depth=12,
                              min_samples_leaf=16
                              )
model.fit(Xx_train, yx_train)

print(f"Training Data Score: {model.score(Xx_train, yx_train)}")
print(f"Testing Data Score: {model.score(Xx_test, yx_test)}")

Training Data Score: 0.46715675517518834
Testing Data Score: 0.4646187602852441